* {
    box-sizing: border-box;
  }

  
  
  body {
    margin: 0px;
    background-image: url(images/bgpattern.png);
     background-size: 1400px 1400px;
     background-color: #e7e7e7;
     min-height: 100%;
     height: auto !important;
     height: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  .nav {
    height: 60px;
    width: 100%;
    background-color: #e7e7e7;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }

  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: left;
    font-size: 18px;
    padding-left: 50px;
  }
  .nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #0c0c15;
    line-height: 60px;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;


  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 0px;
    list-style: none;
    position: relative;
    
  }



  .nav > .nav-links > ul li{
    display: inline-block;
    background-color: #00000000;
    
  }
  .nav > .nav-links > ul li:hover{
      background-color: #e87b2a;
  }

  .nav > .nav-links > ul li a:hover{
    color: #0c0c15;
  }
  
  .nav > #nav-check {
    display: none;
  }



 .nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }


 .credentials {
  display: inline;
  float: right;
  font-size: 18px;
  padding-right: 60px;
  margin: auto;
 }


 .signin {
  background-color: #e87b2a;
  border: none;
  color: #0c0c15;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'anton','serif-sans';
 }


.register {
  background-color: #0e0e0e00;
  border: 1px solid #e87b2a;
  color: #0c0c15;
  padding: 1px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'anton','serif-sans';
}



  
  @media (max-width:750px) {

    .nav {
      height: 77px;
      width: 100%;
    }

    body {
      overflow-x: hidden;
    }

    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 60px;
      padding: 13.5px;
    }
    
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 24px;
      height: 10px;
      border-top: 2px solid #0c0c15;
    }

    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ebebeb;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 59px;
      left: 00px;
      z-index: 2;
    }
    
    .nav > .nav-links > ul li a {
      text-align: center;
      display: block;
      padding: 0 0px;
      color: #0c0c15;
      line-height: 60px;
      font-size: 25px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Anton', sans-serif;
      right:50px
    }
    
      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 1px;
        padding: 0;
        background-color: #33333300;
        margin-left: -50px;
      }
      
      .nav > .nav-links > ul li a{
          margin-left: 0%;
      }


    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

 .bannerheader {
  display: block;
  position: relative;
  width: 100%;
  height: 621px;
  object-fit: cover;
  z-index: 1;
}

.headerbanner {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  top: -18px;
}



.header {
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 90px;
  margin-left: 150px;
  margin-top: 180px;
  text-shadow: 3px 4px 4px rgba(12,12,21,0.4);
  color: #e7e7e7 
}


.header2 {
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 80px;
  margin-left: 50px;
  margin-top: 260px;
  text-shadow: 3px 4px 4px rgba(12,12,21,0.4);
  color: #e7e7e7;
  text-transform: uppercase;

}

.discordlogo {
  position: relative;
  width: 22px;
  height: 22px;
  top: 4px;
}

.headersubtext {
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-left: 256px;
  margin-top: 351px;
  text-shadow: 3px 4px 4px rgba(12,12,21,0.4);
  color: #e7e7e7;
  background: #0c0c15;
  padding: 3px 10px 3px 10px;
}

.headersubtext2 {
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-left: 345px;
  margin-top: 383px;
  text-shadow: 3px 4px 4px rgba(12,12,21,0.4);
  color: #e7e7e7;
  background: #0c0c15;
  padding: 0px 10px 3px 10px;
}


.headersubtext2 a {
  color: inherit;
  text-decoration: none;
}

.dragonballtext {
  color: #e87b2a;
}



@media (max-width: 1580px)
{
  .header {
    font-size: 80px;
  }

  .header2 {
    font-size: 70px;
  }

  .headersubtext {
    margin-left: 226px;
    margin-top: 337px;
  }

  .headersubtext2 {
    margin-left: 316px;
    margin-top: 369px;
  }
}


@media (max-width: 1280px)
{
  .header {
    font-size: 50px;
    margin-left: 121px;
    margin-top: 237px;
  }

  .header2 {
    font-size: 40px;
    margin-left: 83px;
    margin-top: 291px;
  }

  .headersubtext {
    margin-left: 96px;
    margin-top: 338px;
  }

  .headersubtext2 {
    margin-left: 186px;
    margin-top: 369px;
  }
}



@media (max-width: 800px)
{
  .header {
    font-size: 50px;
    margin-left: 8px;
    margin-top: 237px;
  }

  .header2 {
    font-size: 40px;
    margin-left: 11px;
    margin-top: 291px;
  }

  .headersubtext {
    margin-left: 10px;
    margin-top: 338px;
  }

  .headersubtext2 {
    margin-left: 10px;
    margin-top: 369px;
  }
}


@media (max-width: 400px)
{
  .header {
    font-size: 50px;
    margin-left: 8px;
    margin-top: 237px;
  }

  .header2 {
    font-size: 40px;
    margin-left: 11px;
    margin-top: 291px;
  }

  .headersubtext {
    margin-left: 10px;
    margin-top: 385px;
    font-size: 19px;
  }

  .headersubtext2 {
    margin-left: 10px;
    margin-top: 415px;
  }
}



.realbody {
 display: flex; 
 flex-direction: column;
 justify-content: center;
}



.pagetitle {
  position: relative;
  font-family: 'anton', 'sans sherif';
  text-align: center;
  font-size: 37px;
  color: #e7e7e7;
  width: 100%; height: 60px;
  border-style: solid;
  border-color: #e87b2a;
  background-color: #e87b2a;
  text-transform: uppercase;
}


.news, .news2 {
  display: flex; 
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.newsbanner {
  margin: 20px 20px 20px 20px;
  border: 1px solid #e87b2a;
}

.newstitle {
  font-size: 21px;
  font-family: 'anton','sans-serif';
  background-color: #0c0c15;
  color: #e7e7e7;
margin-top: -24px;
margin-left: 20px;
  padding-left: 5px;
  width: 321px;
  height: auto;
  position: relative;
  text-align: center;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}


.top5 {
  display: flex; 
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.top5players, .top5clans {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 46px;
}


.top5container {
  margin-top: -29px;
}


.top5playerslabel, .top5clanslabel {
  width: 352px;
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #0c0c15;
  padding-left: 5px;
  color: #e87b2a;
  text-align: center;
}

.ranktop5 {
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid #e87b2a;
    width: 352px;
  height: 38px;
  margin-top: 10px;
}


.number1rank {
  width: 34px;
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #e87b2a;
  color: #e7e7e7;
  text-align: center;
  margin-top: 0px;
}


.number1name {
  width: 320px;
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #e87c2a00;
  color: #e87b2a;
  margin-top: 1px;
  float: left;
  margin-left: 6px;
}

.top5name {
  width: 320px;
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #e87c2a00;
  color: #0c0c15;
  margin-top: 1px;
  float: left;
  margin-left: 6px;
}


.top5rank {
  width: 34px;
  height: 36px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #0c0c15;
  color: #e87b2a;
  text-align: center;
  margin-top: 0px;
}


.ingamepreviews {
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #0c0c15;
  color: #e87b2a;
  text-align: center;
  margin: auto;
}

.ingamescreenshots {
  margin-top: 70px;
  max-width: 1024px;
  width: 100%;
}

footer {
  background-color: #dddddd;
  color: #0c0c15;
  font-family: 'Roboto', 'sans-serif';
  font-style: italic;
  font-weight: 100;
  text-align: center;
  position: relative;
  margin-top: 50px;
  font-size: 15px;
  width: 100%;
  bottom: 0;
}


.loginlabel, .passlabel {
  position: relative;
  border: 1px solid #e87b2a;
  max-width: 388px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}

.sublabel {
  position: relative;
  border: 1px solid #e87b2a;
  max-width: 388px;
  width: 100%;
  height: 76px;
  margin: auto;
  margin-top: 15px;
}

.usernametext, .passwordtext, .createuser, .createemail, .createpass, .confirmpass {
  max-width: 424px;
  width: 100%;
  background-color: #e87b2a;
  text-align: center;
  font-family: 'anton', 'sans-serif';
  position: relative;
  font-size: 20px;
  display: block;
}

#username, #password, #createusername, #email, #createpassword, #confirmpassword {
  position: relative;
  display: block;
  margin : 0 auto;
  top: 10px;
  text-align: center;
}


.submit {
  background-color: #e87b2a;
  border: none;
  color: #0c0c15;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'anton','serif-sans';
  display: block;
  margin : 0 auto;
  margin-top: 15px;
  cursor: pointer;
 }

.remember {
  display: block;
  margin : 0 auto;
  margin-top: 15px;
  text-align: center;
 }


 .forgotpass {
  background-color: #e87b2a;
  border: none;
  color: #0c0c15;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'anton','serif-sans';
  display: block;
  margin : 0 auto;
  margin-top: 15px;
  width: 165px;
 }


 .registerdescription {
  text-align: center;
  font-family: 'roboto','sans-serif';
  font-size: 15px;
  margin-top: 24px;
 }

 .questpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 20px;
 }

 .questrow, .rankrow {
  display: flex; 
  flex-direction: row;
  justify-content: center;
 }

 .questimage {
  display:block;
  border: 1px solid #0c0c15;
  max-width: 496px;
  max-height: 208px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  

 }

 .questcontainer {
  position: relative;
  max-width: 496px;
  width: 100%;
  height: auto;
  background-color: #e87b2a;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
 }


 .questlabel, .questname {
  font-family: 'anton','sans-serif';
  font-size: 23px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 10px;
 }

 .questname {
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
 }

.rankname {
  font-family: 'roboto','sans-serif';
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
 }

 .requiredname {
  font-family: 'roboto','sans-serif';
  font-size: 16px;
  margin-top: -10px;
  text-align: center;
  background-color: #c96b24;
 }

 .viewquest {
  position: relative;
  max-width: 515px;
  width: 100%;
  height: 30px;
  background-color: #0c0c15;
  border: 1px solid #0c0c15;
  margin-top: -9px;
  color:#e87b2a;
  font-family: 'Anton','sans-serif';
  font-size: 21px;
  text-align: center;
  margin-bottom: 0px;
 }

 .rankrequired, .queststatus {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
 }

 .insidequest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  top: 15px;
  position: relative;
 }
 

 .questinformationcontainer {
  max-width: 406px;
  width: 100%;
  height: auto;
  position: relative;
  border: 1px solid #e87b2a;
  margin-top: 10px;
  float: left;
  flex-direction: column;
  padding-bottom: 6px;
 }

 .questinformation, .questreward {
  max-width: 405px;
  width: 100%;
  background-color: #e87b2a;
  font-family: 'anton','sans-serif';
  font-size: 20px;
  margin-top: 0;
  padding-left: 10px;
 }

 .insidequestnamelabel, .characterunlocked {
  position: relative;
  padding-left: 9px;
  margin-top: -14px;
  font-family: 'roboto','serif-sans';
 }

 .unlockedreward {
  position: relative;
  padding-left: 9px;
  margin-top: 7px;
  font-family: 'roboto','serif-sans';
 }

 .questdescription {
  margin: 0 auto;
  padding-left: 9px;
  padding-bottom: 1px;
  font-family: 'roboto','serif-sans';
 }

 .questcompletioncheck {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 9px;
  margin-top: 10px;
  width: auto;
  float: left;
  background-color: #0c0c15;
  color: #e87b2a;
  font-family: 'roboto','serif-sans';
  font-weight: 900;
 }

 .facepicture {
  margin-left: 9px;
  border: 1px solid #0c0c15;
  position: relative;
 }

 .manualcontainer {
  position: relative;
  max-width: 718px;
  width: 100%;
  height: auto;
  border: 1px solid #e87b2a;
  margin: 0 auto;
  margin-top: 20px;
 }

 .manualnamelabel {
  position: relative;
  max-width: 717px;
  width: 100%;
  height: auto;
  background-color: #e87b2a; 
  text-align: center;
  margin-top: auto;
  font-family: 'anton','sans-serif';
  font-size: 18px;
}

.manualdescription {
  position: relative;
  font-family: 'roboto','sans-serif';
  height: 100%;
  margin-left: 10px;
}

.characterandskillspage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.charactercontainer {
  max-width: 711px;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  border: 1px solid #e87b2a;
  margin-top: 15px;
  padding-bottom: 5px;
}

.charactername {
  max-width: 710px;
  width: 100%;
  height: auto;
  background-color: #e87b2a;
  font-family: 'anton','sans-serif';
  font-size: 20px;
  padding-left: 10px;
  margin-top: 0;
}

.characteroverviewpictureanddescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -10px;
}

.characteroverviewpicture {
  border: 1px solid #0c0c15;
  margin-left: 10px;
  margin-top: 0px;
}

.characterdescription {
  max-width: 616px;
  width: 100%;
  padding-left: 9px;
  height: 70x;
  float: left;
  margin: 0;
  font-family: 'roboto','sans-serif';
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.viewcharacter {
  text-align: center;
  width: 100%;
  background-color: #e87b2a;
  margin-bottom: -5px;
  font-family: 'roboto','sans-serif';
padding-top: 5px;
padding-bottom: 5px;
  text-transform: capitalize;
  margin-top: 10px;
}