* {
    box-sizing: border-box;
  }

  
  
  body {
    margin: 0px;
    background-image: url(images/bgpattern.png);
     background-size: 1400px 1400px;
     background-color: #e7e7e7;
  }

  a {
    text-decoration: none;
  }
  
  .nav {
    height: 60px;
    width: 100%;
    background-color: #e7e7e7;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }

  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: left;
    font-size: 18px;
    padding-left: 50px;
  }
  .nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #0c0c15;
    line-height: 60px;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;


  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 0px;
    list-style: none;
    position: relative;
    
  }



  .nav > .nav-links > ul li{
    display: inline-block;
    background-color: #00000000;
    
  }
  .nav > .nav-links > ul li:hover{
      background-color: #e87b2a;
  }

  .nav > .nav-links > ul li a:hover{
    color: #0c0c15;
  }
  
  .nav > #nav-check {
    display: none;
  }



 .nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }

  
  @media (max-width:750px) {

    .nav {
      height: 77px;
      width: 100%;
    }

    body {
      overflow-x: hidden;
    }

    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 60px;
      padding: 13.5px;
    }
    
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 24px;
      height: 10px;
      border-top: 2px solid #0c0c15;
    }

    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ebebeb;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 59px;
      left: 00px;
      z-index: 2;
    }
    
    .nav > .nav-links > ul li a {
      text-align: center;
      display: block;
      padding: 0 0px;
      color: #0c0c15;
      line-height: 60px;
      font-size: 25px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Anton', sans-serif;
      right:50px
    }
    
      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 1px;
        padding: 0;
        background-color: #33333300;
        margin-left: -50px;
      }
      
      .nav > .nav-links > ul li a{
          margin-left: 0%;
      }


    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

 .bannerheader {
  display: block;
  position: relative;
  width: 100%;
  height: 621px;
  object-fit: cover;
  z-index: 1;
}

.headerbanner {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  top: -18px;
}



.header {
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 90px;
  margin-left: 150px;
  margin-top: 180px;
  text-shadow: 3px 4px 4px rgba(12,12,21,0.4);
  color: #e7e7e7 
}


.header2 {
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 80px;
  margin-left: 50px;
  margin-top: 260px;
  text-shadow: 3px 4px 4px rgba(12,12,21,0.4);
  color: #e7e7e7;
  text-transform: uppercase;

}

.discordlogo {
  position: relative;
  width: 22px;
  height: 22px;
  top: 4px;
}

.headersubtext {
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-left: 256px;
  margin-top: 351px;
  text-shadow: 3px 4px 4px rgba(12,12,21,0.4);
  color: #e7e7e7;
  background: #0c0c15;
  padding: 3px 10px 3px 10px;
}

.headersubtext2 {
  position: absolute;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-left: 345px;
  margin-top: 383px;
  text-shadow: 3px 4px 4px rgba(12,12,21,0.4);
  color: #e7e7e7;
  background: #0c0c15;
  padding: 0px 10px 3px 10px;
}


.headersubtext2 a {
  color: inherit;
  text-decoration: none;
}

.dragonballtext {
  color: #e87b2a;
}



@media (max-width: 1580px)
{
  .header {
    font-size: 80px;
  }

  .header2 {
    font-size: 70px;
  }

  .headersubtext {
    margin-left: 226px;
    margin-top: 337px;
  }

  .headersubtext2 {
    margin-left: 316px;
    margin-top: 369px;
  }
}


@media (max-width: 1280px)
{
  .header {
    font-size: 50px;
    margin-left: 121px;
    margin-top: 237px;
  }

  .header2 {
    font-size: 40px;
    margin-left: 83px;
    margin-top: 291px;
  }

  .headersubtext {
    margin-left: 96px;
    margin-top: 338px;
  }

  .headersubtext2 {
    margin-left: 186px;
    margin-top: 369px;
  }
}



@media (max-width: 800px)
{
  .header {
    font-size: 50px;
    margin-left: 8px;
    margin-top: 237px;
  }

  .header2 {
    font-size: 40px;
    margin-left: 11px;
    margin-top: 291px;
  }

  .headersubtext {
    margin-left: 10px;
    margin-top: 338px;
  }

  .headersubtext2 {
    margin-left: 10px;
    margin-top: 369px;
  }
}



.realbody {
 display: flex; 
 flex-direction: column;
}



.pagetitle {
  position: relative;
  font-family: 'anton', 'sans sherif';
  text-align: center;
  font-size: 37px;
  color: #e7e7e7;
  width: 100%; height: 60px;
  border-style: solid;
  border-color: #e87b2a;
  background-color: #e87b2a;
}


.news {
  display: flex; 
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.newsbanner {
  margin: 20px 20px 20px 20px;
  border: 1px solid #e87b2a;
}

.newstitle {
  font-size: 21px;
  font-family: 'anton','sans-serif';
  background-color: #0c0c15;
  color: #e7e7e7;
margin-top: -24px;
margin-left: 20px;
  padding-left: 5px;
  width: 321px;
  height: auto;
  position: relative;
  text-align: center;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}


.top5 {
  display: flex; 
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.top5players, .top5clans {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 46px;
}


.top5container {
  margin-top: -29px;
}


.top5playerslabel, .top5clanslabel {
  width: 352px;
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #0c0c15;
  padding-left: 5px;
  color: #e87b2a;
  text-align: center;
}

.ranktop5 {
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid #e87b2a;
    width: 352px;
  height: 38px;
  margin-top: 10px;
}


.number1rank {
  width: 34px;
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #e87b2a;
  color: #e7e7e7;
  text-align: center;
  margin-top: 0px;
}


.number1name {
  width: 320px;
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #e87c2a00;
  color: #e87b2a;
  margin-top: 1px;
  float: left;
  margin-left: 6px;
}

.top5name {
  width: 320px;
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #e87c2a00;
  color: #0c0c15;
  margin-top: 1px;
  float: left;
  margin-left: 6px;
}


.top5rank {
  width: 34px;
  height: 36px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #0c0c15;
  color: #e87b2a;
  text-align: center;
  margin-top: 0px;
}


.ingamepreviews {
  height: 38px;
  font-size: 25px;
  font-family: 'anton','sans-serif';
  background-color: #0c0c15;
  color: #e87b2a;
  text-align: center;
  margin: auto;
}

.ingamescreenshots {
  margin-top: 70px;
  max-width: 1024px;
  width: 100%;
}